:root{
    --palepurple: #F1E3F3;
    --periwinkle: #C2BBF0;
    --jordyblue: #8FB8ED;
    --deekskyblue: #62BFED;
    --dodgerblue: #3590F3;
}

html {
    font-family: verdana;
}

body{
    background-color: var(--jordyblue);
}

header {
    border: none;
}

nav{
    background-color: var(--periwinkle);
    width: 100%;
}

nav ul{
    margin: 2.5%;
    background-color: var(--deekskyblue);
    padding: 1%;
    text-align: center;
    width: 20%;
}

nav img {
    padding-top: 10px;
    padding-inline: 40%;
    width: 30%;
}

.section {
    margin: 2.5%;
    border: 2px solid var(--dodgerblue);
    padding: 2.5%;
    background-color: var(--palepurple);
    text-align: left;
}

.section img {
    background-color: var(--periwinkle);
    padding: 1.5%;
    width: 45%;
}

.section h1 {
    font-size: 20px;
    font-weight: normal;
    color: var(--deekskyblue);
}

.section p {
    text-indent: 5%;
    font-size: 15px;
    color: var(--deekskyblue);
}

.section li {
    color: var(--deekskyblue);
    margin: 2.5%;
}

.section:hover{
    border: 2px solid yellow;
}

footer {
	background-color: var(--periwinkle);
	color: var(--dodgerblue);
	margin-bottom: auto;
	text-align: center;
    padding: 10px;
	width: 100%;
	bottom: 0;
}