:root{
    --bdercolor: #0F0FFF;
    --palepurple: #F1E3F3;
    --periwinkle: #C2BBF0;
    --jordyblue: #8FB8ED;
    --deekskyblue: #62BFED;
    --dodgerblue: #3590F3;
}

body{
    background-color: #9FCF9F;
}

header {
    background-color: #9FF3F2;
    padding-left: 5%;
}

.section {
    margin: 2.5%;
    border: 1px solid var(--bdercolor);
    padding: 2.5%;
    background-color: #AFFAAF;
}

.section p {
    font-family: 'Times New Roman', Times, serif;
}

.section h2 {
    text-align: left;
    font-size: 25px;
    font-style: italic;
}

.section li {
    font-weight: bold;
    color: blueviolet;
    margin: 2.5%;
}

.section:hover{
    border-color: yellow;
}

footer {
	background-color: #333;
	color: white;
	margin-bottom: auto;
	text-align: center;
    padding: 10px;
	width: 100%;
	bottom: 0;
}