:root{
    --palepurple: #F1E3F3;
    --periwinkle: #C2BBF0;
    --jordyblue: #8FB8ED;
    --deekskyblue: #62BFED;
    --dodgerblue: #3590F3;
}

html {
    font-family: verdana;
}

body{
    background-color: var(--jordyblue);
}

header {
    background-color: var(--dodgerblue);
    
}

.section {
    margin: 2.5%;
    border: 2px solid var(--dodgerblue);
    padding: 2.5%;
    background-color: var(--palepurple);
}

.section h2 {
    text-align: left;
    font-size: 25px;
    font-style: italic;
}

.section li {
    font-weight: bold;
    color: var(--deekskyblue);
    margin: 2.5%;
}

.section:hover{
    border: 2px solid yellow;
}

footer {
	background-color: var(--periwinkle);
	color: var(--dodgerblue);
	margin-bottom: auto;
	text-align: center;
    padding: 10px;
	width: 100%;
	bottom: 0;
}